<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573681112117-l6ur0tvmhu02bgijg96lv7jtafdukpdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573681112117-l6ur0tvmhu02bgijg96lv7jtafdukpdq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>573681112117-o7n41gve1802dqdpf9o6t2uau265l4ba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFAEZJVm5MM2NodofAEZHtEpXXMrQYYJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>573681112117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wooriyo.WooriyoER</string>
	<key>PROJECT_ID</key>
	<string>wooriyoer</string>
	<key>STORAGE_BUCKET</key>
	<string>wooriyoer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573681112117:ios:cb321944ddb599bd750d7c</string>
</dict>
</plist>