<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89101972554-t146sdirmlsr79gf1klm6nvjd127dn49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89101972554-t146sdirmlsr79gf1klm6nvjd127dn49</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>89101972554-sroek4efd9lcs7neq8t8dqgl03k5bfch.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCI4_gnLS-hyan1bTql5f8kpAVuTlBs4Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>89101972554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wooriyo.pinplm</string>
	<key>PROJECT_ID</key>
	<string>pinplm</string>
	<key>STORAGE_BUCKET</key>
	<string>pinplm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89101972554:ios:76fabc8c50ee1d32e922b3</string>
	<key>DATABASE_URL</key>
	<string>https://pinplm.firebaseio.com</string>
</dict>
</plist>